.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-color);
}

.input {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  border-bottom: 2px solid var(--main-color);
  background: inherit;
  color: var(--text-color);
  caret-color: var(--text-color);
  transition: border-color var(--transition-fast);
  padding: 0.5rem ;
}

.input:focus {
  border-color: var(--highlight-color);
}