.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--text-color);
  letter-spacing: 1px;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all var(--transition-slow);
  width: 100%;
}

.btnGreen {
  background: var(--main-color);

}
.btnGreen:hover {
  color: #fff;
  background-color: var(--highlight-color);
}

.btnRed {
  background: var(--secondary-color);
}

.btnRed:hover {
  background: var(--contrast-color);
  color: #fff;
}