.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 8rem;
  width: 8rem;
  fill: var(--highlight-color);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}