.container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
}
.sidebarContainer {
  width: 20rem;
  text-align: center;
}

.budgetContainer { 
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto 8rem auto;
  padding: 0 2rem;
}

.startBox {
  position: fixed;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 1px 0px 12px 0px var(--highlight-color);
}


.startBox p{
  font-size: 2rem;
  min-width: 26rem;
  text-transform: uppercase;
  font-weight: 500;
}

.createBoxContainer  { 
  grid-column: 1/-1;
}

