.navbar {
  background: var(--main-color);
  grid-column: 1/-1;
  background: linear-gradient(180deg, var(--main-color) 90%, var(--highlight-second-color) 100%);
  height: 7.85rem;
  z-index: 5;
}

:global(.darkModeActive) .navbar {
  filter: brightness(90%);
}


.navbarList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem 4rem;
}

.logo {
  letter-spacing: 2px;
  margin-right: auto;
  border-bottom: 2px solid var(--highlight-color);
  position: relative;
}

.logo span {
  display: inline-block;
  z-index: 4;
  position: relative;
}

.logoElement {
  position: absolute;
  bottom: -1.3rem;
  left: 10.5rem;
  width: 0px; 
  height: 0px; 
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 42px solid var(--highlight-second-color);
}

.navLink {
  transition: all var(--transition-fast);
  text-decoration: none;
  color: inherit;
}

.navLink:hover, .navbar .active {
  border-bottom: 2px solid var(--highlight-color);
}

.iconContainer {
  cursor: pointer;
  align-self: flex-end;
  margin-left: -15px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #495057;
  z-index: 3;
  transition: opacity 400ms;
}

:global(.overlay-transition-appear), :global(.overlay-transition-appear-active), :global(.overlay-transition-appear-done) {
  display: none;
} 

:global(.overlay-transition-enter) {
  opacity: 0;
}


:global(.overlay-transition-enter-active) {
  opacity: 80%;
  transition: opacity 400ms ease-in;
}

:global(.overlay-transition-enter-done), :global(.overlay-transition-exit) {
  opacity: 80%;
}

:global(.overlay-transition-exit-done) {
  opacity: 0;
}


:global(.overlay-transition-exit-active) {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

@media (max-width: 42rem) {

  .logoElement {
    left: 11rem;
    border-left-width: 23px;
    border-right-width: 23px;
    border-top-width: 38px;
  }
}

@media (max-width: 31rem) {

  .logoElement {
    border-top-width: 35px;
  }
}
