.budgetContainer {
  max-width: 100rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.budgets, .expensesDetails {
  display: grid;
  grid-template-columns: 1fr 8.5rem 1fr 1fr  1fr;
}

.budgets {
  column-gap: 1.2rem;
  row-gap: 2px;
  width: 100%;
  font-size: 1.2rem;
  align-items: end;
  padding: 3rem 10px 0 10px;
}

.categoryContainer {
  padding: 1.5rem 2rem 0 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px var(--main-color);
}

.expensesContainer, .incomesContainer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 10px;
}

.incomesContainer {
  margin-top: 2rem;
}


.expensesDetails {
  gap: 0.5rem 1.2rem;
  padding: 10px 0;
}

.negativeFinalBalance:disabled {
  box-shadow: 0px 1px 1px 1px var(--contrast-color);
  border: 1px solid var(--contrast-color);
  background: var(--secondary-color)
}

.deleteButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.budgetEnd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: end;
}

.overallExpenses, .incomeToShare, .budgetBalance {
  font-size: var(--font-small);
  font-weight: 600;
  letter-spacing: 3px;
  background: var(--neutral-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 0.2rem 1.2rem;
  margin-top: -1.5rem;
}

@media (max-width: 42rem) {
  .budgets {
    display: grid;
    grid-template-columns: 3.5fr 2fr 101px;
    row-gap: 2rem;
    column-gap: 2.5rem;
  }

  .name, .share {
    margin-bottom: -14px;
  }

  .name, .nameInput  {
    grid-column: 1/3;
  }

  .share, .shareInput  {
    grid-column: 3/4;
  }

  .startingBalance, .totalExpenses, .finalBalance  {
    grid-row: 3/4;
    margin-bottom: -14px;
  }
}

@media(max-width: 31rem) {
  .budgets {
    column-gap: 1.5rem;
    grid-template-columns: 3.5fr 2fr 2.2fr;
  }

  .categoryContainer {
    padding: 1.5rem 0.5rem 0 0.5rem;
  }
}


  