.columnHeaderRegular, .columnHeaderSmall {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 8px;
}

.columnHeaderRegular {
  font-size: 1.2rem;
}

.columnHeaderSmall {
  font-size: 1rem;
}