.titleContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  border-bottom: 1px solid var(--highlight-color);
  padding: 5px 10px;
  margin-top: 10px;
}

.titleRegular, .titleSmall {
  text-transform: uppercase;
  font-weight: 500;
}

.titleSmall {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.icon {
  display: flex;
  background: var(--main-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: var(--transition-fast);  
}

.icon:hover {
  cursor: pointer;
  background: var(--highlight-color);
}

.buttonsContainer {
  display: flex;
  margin-left: auto;
}


