.sidebar { 
  background: var(--neutral-color);
  height: 100%;
  padding: 2rem 0;
  width: 30rem;
}

.listTitle {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.6rem;
  color: var(--text-color);
}

.budgetsList {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.budgetsList a {
  padding: 12px;
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  font-style: italic;
  font-weight: 500;
}

.budgetsList a:hover {
  cursor: auto;
}

.budgetsList span:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

.active {
  border-radius: 8px 0 0 8px;
  background-color: var(--background-color);
  box-shadow: -5px 0px 5px 0px var(--highlight-second-color);
}
